@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
.nav-left{
    display: flex;
    gap: 10px;
}
.nav-left img{
    width: 48px;
    height: 48px;
}
.nav-left{
    display: flex;
    align-items: center;
}
.nav-left p{
    font-weight: bold;
    font-size: 1.6rem;
}
.lists{
    list-style-type: none;
}
.as{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
.log-btn{
    font-size: 1.2rem;
    padding:10px 30px; 
    border: 2px solid yellow;
    background-color: white;
    border-radius: 8px;
}
.reg-btn{
    font-size:1.2rem;
    font-weight: bold;
    background-color:yellow;
    padding:10px 30px;
    border: none;
    border-radius: 8px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF9F4;
    margin-bottom: 100px;
}

.nav-right{
    display: flex;
    gap:80px;
    align-items: center;
}

ul{
    display: flex;
    gap: 20px;
    align-items: center;
}
.login-reg{
    display: flex;
    gap: 10px;
    align-items: center;
}
.banner-container{
    display: flex;
    justify-content: center;
    
}
.banner-title{
    font-size: 3.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.banner-p{
    font-size: 1.6rem;
    color: gray;
}
.banner-btn{
    background-color: rgb(250, 192, 85);
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    padding:10px 30px;
    border: none;
    border-radius: 8px;
}
.banner{
    background-image: url("../c1-assets/cat-big.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 85%;
    height: 800px;
}
header{
    margin-bottom: 100px;
}
/* category option design */

.cat-sec-cont-title{
    margin-left: 200px;
    font-size: 2.25rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 50px;
}
.cat-sec-cont{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.right-boxes, .dog img{
    width:100%;
}
.category-section{
    display: flex;
    gap: 24px;
}

.imgdivcont{
    display: flex;
    justify-content: center;
}

.img-div{
    background-color: white;
    padding: 10px;
    width: 30%;
    border-radius: 100%;
}

.cat-boxes{
    background-color: #F9DF8A;
    text-align: center;
    width: 230px;
    height: 250px;
    padding-top: 30px;
    border-radius: 10px;
}

.cat-title{
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.cat-p{
    font-size: 1rem;
}

/* second section */
.main-second-section{
    display: flex;
    justify-content: center;
    background-color: rgb(253, 245, 246);
    margin-bottom: 100px;
}

.box-containers{
    display: flex;
    gap: 25px;
}

.second-title{
    font-size:2.25rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.dog-title{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.dog-p{
    font-size: 1.3rem;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

.shop{
    background-color: white;
    border: none;
    padding:10px 30px;
    font-size: 1.7rem;
    border-radius: 10px;
}

.left-box{
    background-color: #F9DF8A;
    padding: 40px;
    border-radius: 10px;
    background-image: url(../c1-assets/cute-pet-small.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 400px;
}

.right-boxes{
    display: flex;
    align-items: center;
    gap: 30px;
    background: white;
    padding:16px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid black;
}

.price{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.ratings{
    display: inline;
    
}

.dog{
    padding: 10px;
    background-color: rgb(253, 245, 246);
    border-radius: 10px;
}

.right-box-title{
    display: block;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.right-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 100px;
}

/* third-sec design */

.third-sec-title{
    font-size: 2.25rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.third-sec-container{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.left-one{
    display: flex;
    align-items: center;
    background:linear-gradient(to right, rgb(154, 137, 137), rgb(239, 203, 203));
    padding: 50px;
    border-radius: 10px;
    height: 480px;
}

.dog-q{
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}
.left-one-title{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.white-text{
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.left-one-pirce{
    font-size: 3.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.left-one-img img{
width: 100%;
}

.box-holder{
    display: flex;
    gap: 25px;
}

.right-one{
    display: flex;
    background:linear-gradient(to right , rgb(177, 171, 171) , rgb(129, 129, 66));
    padding: 50px;
    border-radius: 10px;
    height: 480px;
    align-items: center;
}

.right-one-img img{
    width: 100%;
}

.right-one-title{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.right-one-price{
    font-size:3.5rem ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: yellow;
}

/* fourth sec design */
.fourth-sec-container{
    display: flex;
    justify-content: center;
    
    
}

.fourth-sec-content{
    display: flex;
    gap:100px;
    background-color: #d6a8a8;
    align-items: center;
    padding: 50px;
    border-radius: 10px;
}
.last-title{
    font-size: 2.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.last-p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;

}
input{
    display: block;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    width: 300px;
}
/* footer */
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.boss{
    display: flex;
    flex-direction: column;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: orange;
    height: 500px;
    margin-top: -200px;
}

.footer-content{
    display: flex;
    gap: 600px;
    margin-top: 200px;
    align-items: center;
    
}

.boss{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
a{
    color:black;
}
.f-left-title{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.f-left-p{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}
.logo-sec{
    display: flex;
    gap: 10px;
}

.logo{
    background-color: black;
    color: orange;
    padding: 3px 8px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
}
.num{
    color: yellow;
}
@media screen and (max-width:576px){
    .nav-left p, .login-reg, .links{
        display: none;
    }
    .hamburg{
        width: 30px;
        height: 2px;
        background-color: black;
        margin-bottom: 5px;
    }
    nav{
        justify-content: space-between;
        border-bottom: 1px solid black;
        padding-bottom: 30px;
    }

    /* category sec style */

    .category-section{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .cat-sec-cont-title{
        margin-left: 0px;
    }
    .box-containers{
        flex-direction: column;
    }
    .right-container{
        grid-template-columns: repeat(2,1fr);
    }
    .left-box{
        width: 77%;
    }
    .box-holder{
        flex-direction: column;
    }
    .fourth-sec-content{
        flex-direction: column;
        text-align: center;
    }

    /* footer */

    .footer-content{
        flex-direction: column;
        gap: 10px;
    }

    .footer{
        height: 700px;
        padding-left: 10px;
        justify-content: flex-start;
    }

    .footer-mid{
        margin-left: -250px;
    }

    .footer-right{
        margin-left: -160px;
    }
    .fourth-sec-container{
        width: 90%;
        justify-content: center;
        margin-left: 25px;
    }

    .right-boxes{
       width: 80%;
    }

    .right-container{
        gap: 10px;
    }

}